@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/card.css");

/*font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'PT Sans', sans-serif;*/

body{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin: 0px;
}

h1,h2,h3{
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	font-weight: bold;
}

h2{
	font-size: 20px;
}



a{
	text-decoration: none;
}

.card-img{
	width : 80px;
	
}